# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Terraform CLI configuration files
.terraformrc
terraform.rc

# Variable files (if they contain sensitive data and are not managed securely)
# *.tfvars
# *.tfvars.json

# Override files (if not intended for version control)
# *.tfoverride

# Sensitive data (e.g., private keys, if they are accidentally placed in the project directory)
# *.pem
# *.key
# *.pub